
body{
    font-family:'Montserrat', sans-serif;
    font-weight:400;color:#313131;
    background-color:#fbfbfb;
    overflow:auto;
}
a                                       {   color:#23a1d1; -webkit-transition:0.3s all; -moz-transition:0.3s all;
                                            -ms-transition:0.3s all; -o-transition:0.3s all; transition:0.3s all; text-decoration:none;   }
a:hover                                 {   text-decoration:none;                                                       }
a.city.select                           {   font-weight: bold;color: #FFFFFF; font-size: 12px;
                                            display: inline-block!important; padding: 12px 0; color: #222;              }
a:focus, button:focus                   {   outline:0!important;  }           
.wrapper                                {   position:relative; z-index:5;                                               }
.form-wrapper                           {   margin:0;   }
.htime                                  {   padding:12px 0; display:block;font-size:13px; color:#222; font-weight:500;  }
.htime i                                {   font-size:20px; float:left; margin-right:5px;                                 }
#city                                   {   display:inline-block; margin-left:0; font-weight:500; font-size:13px;         }
#top-menu                               {   margin-bottom:70px;background:#fbfbfb;position:relative;z-index:1002;border-bottom:1px solid#ebeced;  }
#top-menu .dropdown-menu                {   margin:0;border-radius:0;border:none;padding:0;-webkit-box-shadow:0 4px 6px rgba(0, 0, 0, 0.05);
                                            box-shadow:0 4px 6px rgba(0, 0, 0, 0.05); }
.top-menu-wrapper                       {   display:flex;justify-content:flex-start;}
#top-menu .menu-right a                 {   padding:12px 0;display:block;font-size:13px;color:#222;font-weight:500;}
#top-menu a:hover                       {   color:#be358c;}
#top-menu a span                        {   font-size:20px;float:left;margin-right:5px;}
#top-menu .menu-left,
#top-menu .menu-right                   {   list-style:none;padding:0;margin:0;}
#top-menu .menu-left>li,
#top-menu .menu-right>li                {   float:left;}
#top-menu .menu-left>li                 {   margin-right:19;  }
#top-menu .menu-right>li                {   margin-left:18px; }
/**/
.icon-btn-menu                          {   font-size:26px; color:#222; position:relative; display:flex; float:right; height:70px; padding:5px 15px; background:none;
                                            border:none; align-items:center; border-left:1px solid#ebeced ;text-decoration:none;  }
.icon-btn-menu .text                    {   font-size:13px;margin-left:14px;color: #222;font-weight: 500; }
.icon-btn-menu .count                   {   background:#be358c;width:18px;height:18px;display:block;border-radius:50%;color:#fff;font-size:10px;
                                            text-align:center;line-height:20px;position:absolute;top:17px;left:35px;font-style:inherit;font-family: 'Montserrat', sans-serif; }
.icon-btn-menu:hover                    {   background:#d1b46569; color: #be358c;}
#cart                                   {   float:right; position:relative;  }
#cart .text                             {   font-family:'Montserrat', sans-serif;}
#cart > .btn                            {   font-size:12px; line-height:18px;color:#FFF; }
#cart.open > .btn                       {   background-image:none; background-color:#FFFFFF;
                                            border:1px solid #E6E6E6;color:#666; box-shadow:none; text-shadow:none;    }
#cart.open > .btn:hover                 {   color:#444; }
#cart .dropdown-menu                    {   background:#eee; z-index:1001;   }
#cart .dropdown-menu                    {   min-width:100%; width:500px; background:#fff; padding:0;margin:0; border:none;  }
#cart .dropdown-menu li p               {   padding:20px; margin:0; background:#fff; overflow:hidden; border-top:1px solid#ddd; }
#cart .dropdown-menu li .not-empty      {   text-align:center; border:none;  }
#cart .table>tbody>tr:nth-of-type(odd)  {   background:#fff;}
#cart .table>tbody>tr td a              {   font-weight:500; color:#222; }
#cart .table .price                     {   white-space:nowrap; font-weight:bold; text-align:right;width:100px;   }
#cart .table .count                     {   white-space:nowrap; width:20px;  }
#cart .table .img-thumbnail             {   width:60px; max-width:60px; }
#cart .table>tbody>tr>td,
#cart .table>tbody>tr>th,
#cart .table>tfoot>tr>td,
#cart .table>tfoot>tr>th,
#cart .table>thead>tr>td,
#cart .table>thead>tr>th                        {   padding:8px; vertical-align:middle; border:none; font-size:14px;   }
#cart .total-table>tbody>tr:nth-of-type(odd)    {   background:none;    }
#menu                                           {   background: #fff; margin: 0; border: none; border-radius: 0; z-index: 1000; position: absolute;
                                                    top: 35px; left: 0; width: 100%; height: 40%; border-bottom: 1px solid#fff;  }
#menu.fixed                                     {   top:0;position:fixed;border-bottom:1px solid#ebeced;  }
.menu-right                                     {   display:flex;align-items:center;float:right;  }
.menu-right .text                               {   font-weight: 500; }
.category                                       {   display: flex;  }
.dropdown-menu li                               {   position: relative; }
.dropdown-menu .dropdown-submenu                {   display: none; position: absolute; left: 100%; top: -7px; }
.dropdown-menu .dropdown-submenu-left           {   right: 100%; left: auto; }
.dropdown-menu > li:hover > .dropdown-submenu   {   display: block; }
#logo                                           {   float:left;display:flex;align-items:center;height:70px; }
#logo a                                         {   margin:4px auto 0;  }
#logo img                                       {   height:50px;    }
#sidebar                                        {   background-color: #6e419e; z-index: 999;transition: all .3s ease; position: relative; }
.category.active > .overlay {  background: #000; position: fixed; top: 0; left: 0; height: 100%; width: 100%; opacity: .3; margin-top: 10.6em; }
#sidebar .container ul.navbar                   {   padding-left: 0rem; }
.category .btn-danger {
    background-color:rgba(0, 0, 0, 0);
    color: white;
    font-weight: 700;
    text-decoration: none;
    user-select: none;
    padding: .5em 2em;
    outline: none;
    border: 2px solid;
    border-radius: 1px;
    transition: 0.2s;
  } 
  .category .btn-danger:hover { background: rgba(255, 255, 255, 0); }
  .category .btn-danger:active { background: rgba(255, 0, 0, 0); }
  .category .btn-danger:focus { box-shadow: 0 0 0 0}
.navbar-nav                                     {   width:100%; display: flex; flex-direction: row; flex-wrap: nowrap; align-content: space-between; align-items: center; }
.navbar-nav > li                                {   margin:1px 5px 1px 5px; float: left; position: relative; display: flex; }
.navbar-nav > li > a                            {   color: #fff; padding: 18px 5px; min-height: 15px; font-size: 13px; font-weight: 500; position: relative; }
.navbar-nav > li > a::after                      {   background: #2aad6f; content: ''; width: 0; height: 2px; bottom: 0px; left: 50%; position: absolute;
                                                    -webkit-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; }
.navbar-nav > li > a:hover::after                {   width:100%;left:0;  }
.navbar-nav > li > a:hover                      {   background-color:rgba(0, 0, 0, 0.1);  }

#search                                         {   float:left;position:relative;margin-left:10px;padding:16px 0;   }
#search .form-control                           {   font-size:13px;background:none;border:none;padding:8px 100px 8px 20px;
                                                    -webkit-box-shadow:none;box-shadow:none;border-radius:0;background:#f7f7f7;border-radius:2rem;
                                                    box-shadow:0 1px 3px rgba(0,0,0,.3) inset;z-index:2000;position:relative;height:34px;   }
#search .form-control::placeholder              {   color:#ababab;opacity:1;}
#search .form-control:-ms-input-placeholder     {   color:#ababab;}
#search .form-control::-ms-input-placeholder    {   color:#ababab;}
#search button                                  {   position:absolute;top:20px;right:10px;border:none;background:none;color:#434a54;font-size:26px;padding:0;z-index:2000;  }
#search button:before                           {   content:'';position:absolute;right:35;width:2px;height:27px;background:#ddd;    }
#search_advice_wrapper                          {   display:none;/*background-color:#8567A3;*/color:#000;
                                                    -moz-opacity:0.95;opacity:0.95;
                                                    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=95);
                                                    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=95);
                                                    filter:alpha(opacity=95);z-index:999;top:50px;
                                                    left:0px;background:#fff;position:absolute;padding:7.2rem 1rem 0.7rem 1rem;border-radius:.5rem;
                                                    box-shadow:1px 1px 5px rgba(198,203,203,.5);box-sizing:content-box;top:0px;width:100%;margin:-1rem; }
#search_advice_wrapper .advice_variant          {   cursor:pointer;padding:2px;text-align:left; }
#search_advice_wrapper .advice_variant:hover    {   color:#FFFFFF;/*background-color:#785995;*/ }
#search_advice_wrapper .active                  {   cursor:pointer;padding:5px;color:#FFFFFF;background-color:#785995;  }

#search_advice_wrapper .advice_variant:hover    {   min-height: 60px;border: 1px solid#2aad6f;border-radius: 7px;   }
#search_advice_wrapper .advice_variant          {   min-height: 60px;border: 1px solid#FFF;margin: 2px; }
#search_advice_wrapper td.text-center           {   height: 60px;width: 60px;   }
#search_advice_wrapper .table>tbody>tr:nth-of-type(odd) {   background:#fff;    }
#search_advice_wrapper .table>tbody>tr td a     {   font-weight:500;color:#222; }
#search_advice_wrapper .table .price            {   white-space:nowrap;font-weight:bold;text-align:right;width:100px;padding-right: 2px;   }
#search_advice_wrapper .table>tbody>tr>td       {   padding:4px;vertical-align:middle;border:none;font-size:14px;max-width: 260px;text-align: left;   }
#search_advice_wrapper .price-old               {   color: #d85959;text-decoration: line-through;font-size: 12px;    }
.form-control                                   {   height:40px;border:1px solid#ddd;-webkit-box-shadow:none;box-shadow:none;border-radius:0;padding:5px 15px;font-size:12px;   }
.form-control:focus,
.form-control:hover                             {   border-color:#b1b1b1;outline:0;-webkit-box-shadow:none;box-shadow:none; }
textarea.form-control                           {   resize:vertical;    }
/**/


@font-face{font-family:'Open Sans';font-style:normal;font-weight:600;src:local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(https://fonts.gstatic.com/s/opensans/v16/mem5YaGs126MiZpBA-UNirkOX-hpOqc.woff2) format('woff2');unicode-range:U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;}
@font-face{font-family:'Open Sans';font-style:normal;font-weight:600;src:local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(https://fonts.gstatic.com/s/opensans/v16/mem5YaGs126MiZpBA-UNirkOVuhpOqc.woff2) format('woff2');unicode-range:U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;}
@font-face{font-family:'Open Sans';font-style:normal;font-weight:600;src:local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(https://fonts.gstatic.com/s/opensans/v16/mem5YaGs126MiZpBA-UNirkOXuhpOqc.woff2) format('woff2');unicode-range:U+1F00-1FFF;}
@font-face{font-family:'Open Sans';font-style:normal;font-weight:600;src:local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(https://fonts.gstatic.com/s/opensans/v16/mem5YaGs126MiZpBA-UNirkOUehpOqc.woff2) format('woff2');unicode-range:U+0370-03FF;}
@font-face{font-family:'Open Sans';font-style:normal;font-weight:600;src:local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(https://fonts.gstatic.com/s/opensans/v16/mem5YaGs126MiZpBA-UNirkOXehpOqc.woff2) format('woff2');unicode-range:U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;}
@font-face{font-family:'Open Sans';font-style:normal;font-weight:600;src:local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(https://fonts.gstatic.com/s/opensans/v16/mem5YaGs126MiZpBA-UNirkOXOhpOqc.woff2) format('woff2');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
@font-face{font-family:'Open Sans';font-style:normal;font-weight:600;src:local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(https://fonts.gstatic.com/s/opensans/v16/mem5YaGs126MiZpBA-UNirkOUuhp.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
/**/
@media(min-width:1200px){
    .htime{font-size: 12px;}
    a.city.select {font-size: 12px;}
    #sidebar .container {max-width: 1380px;}
    #menu .container  {max-width: 1380px;}
    #top-menu .container {max-width: 1380px;}
    #top-menu .menu-right a {font-size: 12px;}
    #top-menu .menu-left>li{margin-right:5px;}
    #top-menu .menu-right>li{margin-left:10px;}
}

@media(max-width:1200px){
    body{padding-bottom:50px;padding-top:70px;}
    #top-menu{display:none;}
    .menu-right li > a:hover{text-decoration:none;color:#fff!important;background:#6e419e;}
    .menu-right{position:fixed;bottom:0;left:0;width:100%;background:#fff;justify-content:space-between;height:50px;border-top:1px solid#ededed;z-index:1000;}
    .menu-right>div, .menu-right>a{width:33.3333%;padding:0px;display:flex;align-items:center;justify-content:center;}
    .menu-right #search{display:none;}
    .menu-right .icon-btn-menu{display:block;float:none;height:50px;padding:3px 15px;line-height:50px;text-align:center;}
    .menu-right .icon-btn-menu .count{top:8px;right:50%;margin-right:-24px;left:auto;}
    .menu-right .dropdown .icon-btn-menu{width:100%;}
}
    
@media(max-width:1300px){.wrapper{padding-left:0;}
#sidebar-btn{display:none;}
#sidebar-btn-mobile{display:block;}
.htime{font-size: 11px;}
a.city.select {font-size: 11px;}
#top-menu .menu-right a {font-size: 11px;}
#top-menu a span {font-size: 15px;}
.htime i {font-size: 15px;}
}

@media(max-width:767px){
    #top-menu{display:none;}
    .menu-right>div, .menu-right>a,.menu-right>button{position:relative;width:25%;}
    #menu{padding:0;height:60px;border:1px solid#ededed;top:0;position:fixed;box-shadow:0 8px 5px -5px rgba(0, 0, 0, 0.2);}
    .menu-nav{display:block;}
}

@keyframes moveY{from{background-position-y:0}to{background-position-y:-900px}}
@keyframes circle-fill-anim{0%{transform:rotate(0deg) scale(0.7) skew(1deg);opacity:.2;}50%{transform:rotate(0deg) scale(1) skew(1deg);opacity:.2;}100%{transform:rotate(0deg) scale(0.7) skew(1deg);opacity:.2;}}
@keyframes tossing{0%{transform:rotate(-8deg);}50%{transform:rotate(8deg);}100%{transform:rotate(-8deg);}}
@keyframes pulse{0%{transform:scale(0.9);opacity:1;}50%{transform:scale(1);opacity:1;}100%{transform:scale(0.9);opacity:1;}}
@keyframes blinker{0%{transform:scale(1) rotateZ(0deg);-webkit-transform:scale(1) rotateZ(0deg);-moz-transform:scale(1) rotateZ(0deg);-o-transform:scale(1) rotateZ(0deg);-ms-transform:scale(1) rotateZ(0deg);}
50%{transform:scale(1.07) rotateZ(-1.1deg);-webkit-transform:scale(1.07) rotateZ(-1.1deg);-moz-transform:scale(1.07) rotateZ(-1.1deg);-o-transform:scale(1.07) rotateZ(-1.1deg);-ms-transform:scale(1.07) rotateZ(-1.1deg);}
100%{transform:scale(1) rotateZ(0deg);-webkit-transform:scale(1) rotateZ(0deg);-moz-transform:scale(1) rotateZ(0deg);-o-transform:scale(1) rotateZ(0deg);-ms-transform:scale(1) rotateZ(0deg);}
}
@keyframes circle-anim{0%{transform:rotate(0deg) scale(0.5) skew(1deg);opacity:.1;}30%{transform:rotate(0deg) scale(0.7) skew(1deg);opacity:.5;}100%{transform:rotate(0deg) scale(1) skew(1deg);opacity:.1;}}